# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Flask
instance/
.webassets-cache

# Database
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# Project Specific
Major Project/Dataset/*
!Major Project/Dataset/.gitkeep
static/uploads/*
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo
